In [15]:
def say_myself(name,age, man=True, hobby = 'coding'):
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d살입니다." %age)
    if man:
        print("남자입니다")
    else:
        print("여자입니다.")
    print(hobby)

say_myself("권순우", 27)

say_myself("권순우", 27, True, 'game')

나의 이름은 권순우 입니다.
나이는 27살입니다.
남자입니다
coding
나의 이름은 권순우 입니다.
나이는 27살입니다.
남자입니다
game

In [12]:
a = 1           #여기 a와 def문의 a는 그냥 다른 친구임

def vartest(a):    #괄호 안의 a는 매개 변수 (함수 내부에서 사용하는 변수)  #b로 바꾸면 함수 전체 프로그램에는 어떠한 영향도 x (b = b+1로까지)
    a = a + 1

print(vartest(a))
print(a)

None
1

In [1]:
def vartest(a):
    a=a+1

vartest(3)
print(a)

NameError: name 'a' is not defined

In [4]:
a = 1
def vartest():
    global a #로컬이 아니라 글로벌 변수로 지정 (밖에 있는 a 끌고 오겠다)
    a = a + 1

print(a)
vartest()
print(a)

1
2

In [17]:
#뭔가를 묶어서 처리 zip 함수
# zip(*iterable)

r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

#코드 작성
img = zip(r, g, b) #압축해서 img에 넣음

img = list(zip(r,g,b))
print(img)

#결과를 zip 타입을 운영, 리턴 / 바로 값을 꺼내서 보여주는게 아니라 접근 시에만 메모리상 해당하는 값을 올려주는 방식

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [18]:
r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)


zip_object = zip(r,g,b)
print(zip_object)

img = list(zip_object)
print(img)

print(img[0])
print(type(img[0]))

<zip object at 0x00000242D1EF4640>
[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]
(52, 19, 0)
<class 'tuple'>

In [19]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [20]:
for i in range (len(fruits)) :
    print (i, fruits[i])

0 apple
1 banana
2 cherry
3 date

enumerate 함수

enumerate(iterable, [start=0])

start는 시작 번호 (생략 시 0) 이며 결과는 enumerate 타입

item들의 번호를 부여하여 (idx, value)의 튜플 쌍을 생성

In [21]:
f = ('apple', 'banana', 'cherry', 'date')

In [22]:
enumerate(f)

In [ ]:
dict(enumerate(f)) #딕셔너리 방식으로 출력, 키:값 방식

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [24]:
enumerate(f,1)
dict(enumerate(f,1))

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}

Map 함수

map(function, itreable)

function에 iterable의 item들을 인자로 전달하여 실행

function의 parameter 수 만큼 iterable이 전달되어야 함

결과는 map 타입

In [ ]:
# map 함수 없이 1씩 증가

my_list = [1,2,3,4,5]
# -> [2,3,4,5,6]

result = []   #result 리스트값 우선 초기화 해준 후
for i in mylist:   #반복문 돌리면서 1씩 추가해주기
    result.append(i+1) #list에 요소 추가하는 것이므로 append 사용

print(result)

In [ ]:
# map 함수를 활용한 경우

my_list = [1,2,3,4,5]
# -> [2,3,4,5,6]

def add_one(n):
    return n + 1

result = list(map(add_one, my_list))

result

[2, 3, 4, 5, 6]

In [33]:
#사용자지정함수말고 내장 함수로 해보기

my_list = [3.14, -5.6, 100.4, 25.0]

result = list(map(round, my_list)) #round = 반올림해서 정수로 만들어주는 함수]

result

[3, -6, 100, 25]

filter 함수

반복 가능한 객체에서 특정 조건에 맞는 요소만 가져옴 (필터링)

filter에 지정한 함수의 반환값이 True일 때만 해당 요소를 가져옴

filter (함수, 반복가능한 객체)

In [36]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]

In [37]:
result = []
for i in a:
    if i > 5 and i <10 :
        result.append(i)

result

[8, 7]

In [40]:
def f(x):
    return x > 5 and x <10

In [39]:
list(filter(f,a))

[8, 7]

# 람다함수 (익명함수) _ Lambda

lambda 매개변수 : 결과

def 함수이름(매개변수):
    return 결과 -> 이런 식으로 작성 안해도 되는것이 편리함.

이름이 없는 함수

코드의 간결함과 메모리의 절약이 장점

자주 쓰지 않는 / 한 번만 쓰고 버릴 함수 정의할 때 사용하면 좋음

코드의 가독성이 높아짐. 짧은 함수 정의로 해결 가능

In [41]:
my_list = [1,2,3,4,5]
# -> [2,3,4,5,6]

result = list(map(lambda x : x + 1, my_list))
result

[2, 3, 4, 5, 6]

In [42]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]

In [43]:
list(filter(lambda x : x>5 and x<10, a))

[8, 7]

In [44]:
fruits

['apple', 'banana', 'cherry', 'date']

In [51]:
numbers = [1,2,3,4,5]
even_numbers = list(filter(lambda x : x%2 ==0, numbers))
print(even_numbers)

[2, 4]

In [46]:
myfruits = sorted(fruits, key=len, reverse = True)
myfruits

['banana', 'cherry', 'apple', 'date']

In [47]:
numbers = [1,2,3,4,5,6]

In [49]:
my_numbers = sorted(numbers, reverse=True)
my_numbers

[6, 5, 4, 3, 2, 1]

In [ ]:
#for i in points:            #람다 안쓰고 for문 이용할 경우
    #print (i[1])

2
4
1

In [ ]:
#두번째 값을 기준으로 정렬

points = [(1,2), (3,4), (5,1),(4,1)]
#(5,1), (1,2), (3,4)

sorted_points = sorted(points, key=lambda x: (x[1],x[0])) #두번째 값이랑 첫번째값 기준이긴 한데 두번째값 먼저

print(sorted_points)

[(4, 1), (5, 1), (1, 2), (3, 4)]

등수구하기 

영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 영어 점수와 수학 점수를 담은 2차원 리스트 score가 주어질 때, 영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 리스트를 return하도록 함수를 만들어주세요 

[[80, 70], [90, 50], [40, 70], [50, 80]] -> [1, 2, 4, 3] 

[[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]] -> [4, 4, 6, 2, 2, 1, 7] 

평균값 가지는 리스트 -> 평균값 기준 내림차순 정렬 -> 랭크 리스트

In [ ]:

def rank(score):
    avg = []
    for i, j in score :
        # print((i+j)/2)
        avg.append((i+j)/2)
    #print(avg)
    avg_sort = sorted(avg, reverse = True)
    #print(avg_sort)

    for i in avg:
        result.append(avg_sort.index(i) + 1)
        
    #print (result)

    return result

In [70]:
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
rank(score1)  #[1, 2, 4, 3]

[2, 3, 4, 5, 6, 1, 2, 4, 3]

In [71]:
score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]
rank(score2) # [4, 4, 6, 2, 2, 1, 7]

[2, 3, 4, 5, 6, 1, 2, 4, 3, 4, 4, 6, 2, 2, 1, 7]

In [72]:
#소수판별함수
# [2,3,4,5,6,7,8,9] -> 리스트로 입력했을 때, [True, True, False, True, False, True, False, False]

def is_prime(num_list):
    result = []
    for num in num_list :
        isprime = True
        for i in range(2, num):
            if num % i == 0 :
                isprime = False
                break
        result.append(isprime)
    return result

In [73]:
num = [2,3,4,5,6,7,8,9]

is_prime(num)

[True, True, False, True, False, True, False, False]

# 모듈

In [ ]:
import random as r
r.randint(1,100)
r.randrange(1,3)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
from random import randint
#장점 : 쓸때마다 random 안불러와도 됨
#단점 : 다른 모듈 (ex_ randrange) 불러오지를 못함

randint(1,100)

99

In [84]:
from random import *
from math import *

randint(1,100)
randrange(1,3)
sample([1,2,3], 1)

[2]

In [86]:
import math
from math import *

num1 = math.pow(2,3)
num2 = math.sqrt(9)

print(num1 + num2)

11.0

In [87]:
from math import pow as p, sqrt as sq #하지만 이 방법으로 얼라이언스 잘 안함 뭘썼는지 모름
num1 = p(2,3)
num2 = sq(9)

print(num1+num2)

11.0

## 모듈과 함수 연습문제

### 행운번호 추첨기 (무작위 생성된 6개의 숫자 출력)

In [ ]:
import random as r  # 잘못됨 -> 중복 숫자 발생 시, 숫자 5개만 뜸 -> While문으로 작성하기

result=[]

for i in range (6):
    i = r.randint(1,45)
    if i not in result :
        result.append(i)
        i += 1

print(result)

[2, 25, 26, 7, 21]

In [99]:
import random as r
result = []
while len(result) < 6 :
    num = r.randint(1,45)
    if num not in result :
        result.append(num)

print(result)

[10, 13, 7, 31, 24, 5]

### 컴퓨터와 대결하는 가위바위보 게임 만들기

다음 코드가 동작할 수 있도록 checkwin()함수와 continueComfirm()함수를 구현해주세요.

In [ ]:
sel = [ '가위', '바위', '보' ]
       
import random 

while True:
    user = input ("가위,바위, 보 !!! : ")
    if checkWin

SyntaxError: expected ':' (4183160146.py, line 8)

## 사용자 정의 모듈

In [1]:
import mymodule as mm

print(mm.my_add(7,3))
print(mm.my_sub(3,5))

mymodule안에서의 __name__: mymodule
10
-2

# 클래스

In [5]:
#class는 구분을 위해 대문자로 표기하는게 일반적

class Person:
    def __init__(self, name, age):       #객체생성 자동으로 불러오는게 __init__
        self.name = name
        self.age = age

    def walk(self):   #walk method 생성
        print(f"{self.name}이(가) 걸어가요")

In [6]:
person1 = Person("권순우", 27) #객체 생성 후, person1 변수에 할당

In [7]:
print(type(person1))

<class '__main__.Person'>

In [8]:
person1.walk()

권순우이(가) 걸어가요

In [9]:
person2 = Person("김구름", 2)

In [10]:
person2.walk()

김구름이(가) 걸어가요

In [ ]:
class NewPerson(Person): #Person을 상속받은 NewPerson, 추가 기능 구현 가능
    def fly(self):
        print(f"{self.name}이(가) 하늘을 날아요")
    def walk(self):
        print(f"{self.name}이(가) 개 빨리 뛰어다녀요")

In [22]:
person3 = NewPerson("김밍키", 2)

In [24]:
person3.walk()

김밍키이(가) 개 빨리 뛰어다녀요

In [26]:
person3.fly()

김밍키이(가) 하늘을 날아요

In [27]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [28]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else :
            return self.first / self.second

In [39]:
import mymodule as mm

In [40]:
hero = mm.Character("전사")

AttributeError: module 'mymodule' has no attribute 'Character'

In [33]:
hero.speak()

NameError: name 'hero' is not defined

In [34]:
healer = mm.Character('힐러')

AttributeError: module 'mymodule' has no attribute 'Character'

In [35]:
healer.speak()

NameError: name 'healer' is not defined

In [42]:
### 결제시스템
#신용카드, 포인트 결제

In [ ]:
def pay_credit_payment(card_info, amount):
    """신용카드 결제 로직 """
    print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
    print("결제 완료")

def pay_with_point(point_wallet, amount):
    if point_wallet['balance'] >= amount :
        point_wallet['balance'] -= amount
        print (f"포인트 {point_wallet}점을 사용해서 결제했습니다.")
    else:
        print("포인트가 부족합니다.")

In [51]:
credit_card = {
    'type' : 'credit_card',
    'card_number' : '1234-5678-4321-6543',
    'cvc' : 101
}

my_points = {
    'type' : 'point_wallet',
    'balance' : 50000
}

In [56]:
def payment(payment_method, amount):
    payment_type=payment_method['type']

    if payment_type == 'credit_card' :
        pay_credit_payment(payment_method, amount)
    elif payment_type == 'point_wallet' :
        pay_with_point(payment_method, amount)
    else :
        print("지원되지 않는 결제방식입니다.")

In [57]:
payment(credit_card, 2500)
payment(my_points, 10000)
payment(my_points, 45000)

1234-5678-4321-6543카드로 2500원 결제합니다.
결제 완료
포인트 {'type': 'point_wallet', 'balance': 30000}점을 사용해서 결제했습니다.
포인트가 부족합니다.

In [64]:
class Payment :
    def __init__ (self, card_number, amount) :
        self.card_number = card_number
        self.amount = amount

    def pay_credit_payment(card_info, amount):
        """신용카드 결제 로직 """
        print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
        print("결제 완료")

    def pay_with_point(point_wallet, amount):
        if point_wallet['balance'] >= amount :
            point_wallet['balance'] -= amount
            print (f"포인트 {point_wallet}점을 사용해서 결제했습니다.")
        else:
            print("포인트가 부족합니다.")

    credit_card = {
        'type' : 'credit_card',
        'card_number' : '1234-5678-4321-6543',
        'cvc' : 101
        }

    my_points = {
        'type' : 'point_wallet',
        'balance' : 50000
        }

    def payment(payment_method, amount):
        payment_type=payment_method['type']

        if payment_type == 'credit_card' :
            pay_credit_payment(payment_method, amount)
        elif payment_type == 'point_wallet' :
            pay_with_point(payment_method, amount)
        else :
            print("지원되지 않는 결제방식입니다.")

print(payment(credit_card, 2500))
print(payment(my_points, 10000))
print(payment(my_points, 45000))

1234-5678-4321-6543카드로 2500원 결제합니다.
결제 완료
None
포인트 {'type': 'point_wallet', 'balance': 10000}점을 사용해서 결제했습니다.
None
포인트가 부족합니다.
None

In [65]:
user1 = Payment("credit_card", 2500)
user2 = Payment("my_points", 10000)
user3 = Payment("my_points", 45000)

In [95]:
class PaymentMethod: #신용카드와 포인트 결제의 공통적인 부분을 부모 클래스로 만든 것
    def pay(self, amount):
        print("f{amount}원을 결제하겠습니다")

class CreditCard(PaymentMethod):
    def __init__(self, card_number, cvc):
        self.card_number = card_number
        self.cvc = cvc

    def pay(self, amount):
        print(f"'{self.card_number}' 카드로 {amount}원 결제합니다.")
        # 서버 결제 요청
        print("카드 결제 완료")

class PointWallet(PaymentMethod):
    def __init__(self, balance):
        self.balance = balance
        
    def pay(self, amount):
        if self.balance >= amount :
            self.balance -= amount
            print (f"포인트 {amount}점을 사용해서 결제했습니다.")
            print (f"포인트 잔액은 {self.balance}원입니다.")
        else:
            print("포인트가 부족합니다.")
            print(f"부족한 포인트 금액은 {amount - self.balance}원 입니다.")

In [96]:
def process_payment(payment_method, amount):
        payment_method.pay(amount)

card_obj = CreditCard("4444-4444-1234-5678",567)
point_obj = PointWallet(50000)

In [99]:
process_payment(card_obj, 1000)
process_payment(point_obj, 10000)
process_payment(point_obj, 50000)

'4444-4444-1234-5678' 카드로 1000원 결제합니다.
카드 결제 완료
포인트 10000점을 사용해서 결제했습니다.
포인트 잔액은 20000원입니다.
포인트가 부족합니다.
부족한 포인트 금액은 30000원 입니다.

클래스 더 공부해보고 싶으면 강의자료 마지막쯤 있는 파이썬 터틀 만들어 보기

In [ ]:
#import turtle   -> turtle_test.py 파일 만들어서 다 작성하기

#turtle.forward(100)

# turtle.exitonclick()

In [101]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.9 kB 435.7 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/60.9 kB 525.1 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 405.6 kB/s eta 0:00:00
Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   -- ------------------------------------- 0.7/13.1 MB 14.8 MB/s eta 0:00:01
   ----- ---------------------------------- 1.9/13.1 MB 20.0 MB/s eta 0:00:01
   ----------- ---------------------------- 3.7/13.1 MB 26.5 MB/s eta 0:00:01
   ----------------- ---------------------- 5.6/13.1 MB 29.8 MB/s eta 0:00:01
   ---------------------- ----------------- 7.4/13.1 MB 33.8 MB/s eta 0:00:01
   ------------------------------ --------- 9.9/13.1 MB 37.1 MB/s eta 0:00:01
   ------------------------------------- -- 12.2/13.1 MB 46.9 MB/s eta 0:00:01
   ---------------------------------------  13.1/13.1 MB 46.7 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 36.4 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.3.3

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

import numpy

In [107]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\el89\appdata\local\programs\python\python311\lib\site-packages (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\el89\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\el89\appdata\roaming\python\python311\site-packages (from beautifulsoup4) (4.15.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [108]:
import bs4

In [110]:
from bs4 import BeautifulSoup