In [1]:
i = 0
for i in range (0, 15):
    i = i + 1
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [ ]:
n = 10

for i in range(0, n+1):
    for j in range(n-i):
        print(" ",end='')
    for j in range(2 * i - 1):
        print("*", end='')   
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [17]:
n = 10
for i in range(0, n+1):
    spaces =" " * (n-i)
    stars = ("*"* (2*i-1))
    print(spaces+stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
# for, while에서의 탈출 = break
# 중첩반복문에서의 탈출 =

In [31]:
number = 0
for i in range(5):
    for j in range(5):
        print(f" (i ={i}, j = {j})")
        number = i * j
        if i == 2 and j == 3 :
            break
    if i == 2 and j == 3 :
        break
            
    
print(number)

 (i =0, j = 0)
 (i =0, j = 1)
 (i =0, j = 2)
 (i =0, j = 3)
 (i =0, j = 4)
 (i =1, j = 0)
 (i =1, j = 1)
 (i =1, j = 2)
 (i =1, j = 3)
 (i =1, j = 4)
 (i =2, j = 0)
 (i =2, j = 1)
 (i =2, j = 2)
 (i =2, j = 3)
6

In [ ]:
number = 0
break_all = False #상태 저장 변수

for i in range(5):
    for j in range(5):
        print(f" (i ={i}, j = {j})") #디버깅 확인용
        number = i * j
        if i == 2 and j == 3 :
            break_all = True
            break
    if break_all :
        break
            
    
print(number)

 (i =0, j = 0)
 (i =0, j = 1)
 (i =0, j = 2)
 (i =0, j = 3)
 (i =0, j = 4)
 (i =1, j = 0)
 (i =1, j = 1)
 (i =1, j = 2)
 (i =1, j = 3)
 (i =1, j = 4)
 (i =2, j = 0)
 (i =2, j = 1)
 (i =2, j = 2)
 (i =2, j = 3)
6

In [ ]:
### 사용자로부터 n개의 별의 개수 받은 뒤, 별을 출력
### 별의 갯수만큼 출력하다가 별이 다 소진되면 멈추는 코드 출력
### 트리의 최대 코드는 10층

n = int(input("원하는 별의 개수를 입력하세요"))

for i in range(0, n+1):
    for j in range(n-i):
        print(" ",end='')
    for j in range(2 * i - 1):
        print("*", end='')   
    print()

                                      *
                                     ***
                                    *****
                                   *******
                                  *********
                                 ***********
                                *************
                               ***************
                              *****************
                             *******************
                            *********************
                           ***********************
                          *************************
                         ***************************
                        *****************************
                       *******************************
                      *********************************
                     ***********************************
                    *************************************
                   ***************************************
                  *****************************************
                 *******************************************
                *********************************************
               ***********************************************
              *************************************************
             ***************************************************
            *****************************************************
           *******************************************************
          *********************************************************
         ***********************************************************
        *************************************************************
       ***************************************************************
      *****************************************************************
     *******************************************************************
    *********************************************************************
   ***********************************************************************
  *************************************************************************
 ***************************************************************************
*****************************************************************************

In [ ]:
i = 0
for i in range (0):
    i = i + 1
    if i == 30 :
        break
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [ ]:
### 사용자로부터 n개의 별의 개수 받은 뒤, 별을 출력
### 별의 갯수만큼 출력하다가 별이 다 소진되면 멈추는 코드 출력
### 트리의 최대 코드는 10층

n = 10
number = int(input("원하는 별의 개수를 입력하세요"))

for i in range(0, n+1):
    for j in range(n-i):
        print(" ",end='')
    for j in range(2 * i - 1):
        print("*", end='')   

    if i+j == number :
        break

    print("*" * n)

                   *        ***       *****      *******     *********    ***********   *************  *************** ************************************

SyntaxError: 'break' outside loop (806111226.py, line 15)

In [ ]:
n = int(input("원하는 별의 개수를 입력하세요"))

star = 0
break_all = False #상태 플래그, 어디에서든 조건이 만족되면 ~ 스위치 같은 역할


for i in range(1, 10+1): #최대 높이 10층 제한 설정
    for j in range (i):
        star += 1
        if star > n:
            break_all = True
            break
        print ('*', end ='')
    if break_all:
        break
    print()

*
**

In [ ]:
mystr = "Life is too short."
my_str = "Hello, Python"
#인덱스는 대부분 0부터 시작함.

print(mystr[0:4])
print(my_str[-1])
print(my_str[7:11])
print(my_str[7:])
print(my_str[::2]) # 두 칸씩 띄고 프린트, 슬라이싱

#슬라이싱 [start:end:step]
print(my_str[::3])
print(my_str[::-1]) #음수 슬라이싱도 가능하다.

type(my_str)
len(my_str)
for

Life
n
Pyth
Python
Hlo yhn
Hl tn
nohtyP ,olleH

13

In [ ]:
# for i in range (바구니) 처럼
# my_str도 바구니가 될 수 있다.
my_str = "Hello, Python"
for i in my_str :
    print(i)
    
my_str = "Hello, Python"
for i in range(len(my_str)) :
    print(my_str[i])

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
# for i in range (바구니) 처럼
# my_str도 바구니가 될 수 있다.
my_str = "Hello, Python"
    
# lower은 전체 소문자로 변경, upper은 전체 대문자로 변경
my_str.lower() # 점을 찍으면 다양한 기능 사용 가능
my_str.upper()
my_str.strip()

'Hello, Python'

In [83]:
words = my_str.split(',') #두개의 문자열로 쪼개는거
print(words)

['Hello', ' Python']

In [86]:
# 자료형

#복합 자료형, 컬렉션 자료형

#리스트(List) - [ ] 
#복수의 데이터를 순서대로 저장하고 조작하는 기본 자료형

numbers1 = [1, 2, 3, 4, 5]
numbers2 = [6, 7, 8, 9, 10]

In [88]:
fruits = ['apple', 'banana', 'mango']
mixed = [1, "apple", True, [10, 20, 30]]

In [89]:
numbers1 + numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers1 * 3 #리스트의 반복 연산

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [91]:
fruits[-1]

'mango'

In [92]:
fruits[:2]

['apple', 'banana']

In [94]:
fruits[0] = 'grape' # 기존 리스트의 값을 수정
print(fruits)

['grape', 'banana', 'mango']

In [97]:
fruits.append('cherry') #리스트에 새로운 값 추가
fruits

['grape', 'banana', 'mango', 'cherry', 'cherry', 'cherry']

In [ ]:
#인덱스 사이에 (중간에) 새로운 인덱스 추가하려면
fruits.insert(2, 'kiwi')
fruits

In [107]:
fruits.extend(['orange', 'date'])
fruits

['grape',
 'banana',
 'kiwi',
 'kiwi',
 'mango',
 'cherry',
 'cherry',
 'cherry',
 'orange',
 'date',
 'orange',
 'date']

In [ ]:
#리스트에서 맨 마지막 인덱스 삭제하고 싶으면 pop
fruits.pop()
fruits

['grape', 'banana', 'kiwi', 'kiwi', 'mango', 'cherry', 'cherry', 'cherry']

In [ ]:
#몇 번째 인덱스 요소를 삭제하겠다고 하면 괄호 안에 숫자넣고 pop
fruits.pop(1)
fruits

['grape', 'kiwi', 'kiwi', 'mango', 'cherry', 'cherry', 'cherry']

In [122]:
#인덱스 이름으로 삭제하는 방법은 remove
fruits.remove('kiwi')
fruits

['grape', 'kiwi', 'mango', 'cherry']

In [117]:
fruits.index('kiwi') #어떤 요소의 인덱스 번호를 알려달라

1

In [119]:
fruits.count('cherry') #해당 인덱스가 몇 개 있는지 세주는

2

In [125]:
fruits.sort() #오름차순 정렬
fruits.sort(reverse=True)
fruits

['mango', 'kiwi', 'grape', 'cherry']

In [132]:
fruits.reverse() #인덱스 번호만 뒤집는 것
fruits
fruits.index('kiwi')

1

In [133]:
fruits = ['apple', 'banana', 'mango', 'cherry']

In [137]:
for i in range(len(fruits)):
    print(f"{i+1}번째 과일{fruits[i]}")

1번째 과일apple
2번째 과일banana
3번째 과일mango
4번째 과일cherry

In [138]:
numbers = [10, 20, 30, 40, 50]

In [ ]:
max(numbers) #가장 큰거 출력, 내장 함수가 알아서 처리 해줌

50

In [140]:
min(numbers)

10

In [141]:
sum(numbers)

150

In [143]:
sum(numbers)/len(numbers)

30.0

In [154]:
#규칙성을 가진 숫자들을 리스트로 만들어 내는 방법
#반복문을 이용해서 리스트를 간단하게 생성 가능
# 리스트 컴프리헨션
numbers = [i+1 for i in range(10)]

In [ ]:
# 0~9까지의 제곱 수들 구하는 방법
numbers = [i**2 for i in range(10)]
numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
num_list=[]
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [159]:
num_list=[]
for i in range(10):
    # print(i)
    if i % 2 == 0:
        num_list.append(i)
num_list

[0, 2, 4, 6, 8]

In [161]:
numbers = [i for i in range(1, 10+1) if i%2 == 0]

In [162]:
numbers

[2, 4, 6, 8, 10]

In [172]:
marks = [90, 25, 67, 45, 80]

number = 0

for i in marks:
    number += 1
    if i >= 60:
        print(f"{number}번째 학생은 합격입니다.")
    else:
        print(f"{number}번째 학생은 불합격입니다.")

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

In [175]:
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
    #print(i, marks[i]
    if marks[i] >= 60:
        print(f"{i+1}번째 학생은 합격입니다.")
    else:
        print(f"{i+1}번째 학생은 불합격입니다.")

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

In [202]:
print ("끝말잇기 게임을 시작합니다.")
var = "가나다"
print(f"시작단어는 {var}입니다.")
print (var)

while True:
    answer = input("단어를 입력해주세요 : ")
    if answer[0] == var[-1] :
        print (answer)
        var = answer #덮어써주기
    else :
        print ("틀렸습니다. 게임을 종료합니다")
        break

끝말잇기 게임을 시작합니다.
시작단어는 가나다입니다.
가나다
다람쥐
쥐포
포항
틀렸습니다. 게임을 종료합니다

In [ ]:
#리스트 numbers의 각 원소는 숫자 0~9
#이 때, numbers에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거
# 단 제거 후 남은 수들을 반환할 때는 numbers의 원소들의 순서 유지해야
# EX
# numbers = 1,1,3,3,0,1,1 => 1, 3, 0, 1
# numbers 4, 4, 4, 3, 3, => 4, 3


numbers = [1, 1, 3, 3, 0, 1, 1]

answer = []

comp = numbers [0] #compare 
answer.append(comp)

for i in numbers :
    if comp != i: #이전 숫자와 같은지 비교
        comp = i #다르다면 비교할 숫자 갱신
        answer.append(comp) #새로운 숫자이므로 리스트에 삽입

answer

[1, 3, 0, 1]

딕셔너리

In [ ]:
#딕셔너리
#순서가 없는 컬렉션 자료형 {키 : 값} 형태로 저장됨.
#키는 중복할 수 없지만, 값은 중복 가능

In [239]:
student = {'name':'Jimin', 'age':29, 'hobby':'game'}

# student = {'name':'Jimin', 'age':29, 'hobby':'game', 'name':'망개'}라고 해버리면? - Jimin 사라짐

student = {'name':'Jimin', 'age':29, 'hobby':'game', 'nickname':'Jimin'}
# 키만 고유하면 값은 중복되어도 상관 X

In [208]:
mydict = {}
mydict = dict()
mylist = []
mylist = list()

In [212]:
student['age']

29

In [216]:
student.keys()

dict_keys(['name', 'age', 'hobby', 'nickname'])

In [217]:
student.values()

dict_values(['Jimin', 29, 'game', 'Jimin'])

In [ ]:
student.items()
# 키와 밸류를 소괄호로 묶어서 (튜플) 형태로 묶어서 리스트로 운영

dict_items([('name', 'Jimin'), ('age', 29), ('hobby', 'game'), ('nickname', 'Jimin')])

In [221]:
for i in student.keys():
    print(i)

name
age
hobby
nickname

In [222]:
for i in student.values():
    print(i)

Jimin
29
game
Jimin

In [224]:
for i in student.items():
    print(i)

('name', 'Jimin')
('age', 29)
('hobby', 'game')
('nickname', 'Jimin')

In [225]:
student['nickname'] = '망개떡'

In [226]:
student

{'name': 'Jimin', 'age': 29, 'hobby': 'game', 'nickname': '망개떡'}

In [ ]:
student['addr'] = '서울시 용산구'
#없는 키-값을 입력하면 추가가 됨 (List와는 달리 오류가 나지 X)

KeyError: 'addr2'

In [229]:
student.get('addr2')

In [235]:
student.pop('age')

29

In [236]:
student.popitem() #마지막으로 보여졌던 아이템

('addr', '서울시 용산구')

In [ ]:
'name' in student.keys() #값이, 키가 있는지 없는지 확인 가능

True

In [240]:
29 in student.values()

True

In [242]:
for i in student.items():
    print(i[0], i[1])

name Jimin
age 29
hobby game
nickname Jimin

In [244]:
for i, j in student.items():
    print(i, j)

name Jimin
age 29
hobby game
nickname Jimin

##모스부호  

문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 

모스부호는 다음과 같습니다. 

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

입출력 예 

letter  result 

".... . .-.. .-.. ---"  "hello" 

".--. -.-- - .... --- -."   "python"

In [254]:
morse = { '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', '-.--':'y','--..':'z'}

translate = input("모스부호를 입력해 주세요")

for i in translate.split(' '):
    print(morse[i], end='')

pythot

In [256]:
letter = input ("모스부호를 입력해 주세요.")

a = letter.split()

answer = ''
for i in a :
    answer += morse[i]

print(answer)

python

set 자료형

중복을 허용하지 않고, 순서가 없는 데이터

In [257]:
s = {1, 2, 3, 4, 2, 3}

In [258]:
type(s)

set

In [260]:
s #중복값 다 없어짐

{1, 2, 3, 4}

In [261]:
s.add(5)

In [264]:
s.pop() #순서가 없기 때문에 임의의 요소를 빼버림

2

In [266]:
s.remove(3)

In [267]:
my_list = [1,2,3,5,1,2,3]

In [268]:
set(my_list)

{1, 2, 3, 5}

In [269]:
list(set(my_list))

[1, 2, 3, 5]

In [270]:
my_list

[1, 2, 3, 5, 1, 2, 3]

In [271]:
a = {1,2,3,4}

In [272]:
b = {3,4,5,6}

In [273]:
a.union (b)

{1, 2, 3, 4, 5, 6}

In [277]:
a | b

{1, 2, 3, 4, 5, 6}

In [275]:
a & b #교집합

{3, 4}

In [276]:
a. intersection(b)

{3, 4}

In [278]:
a-b

{1, 2}

In [279]:
a.difference(b)

{1, 2}

튜플

리스트와 거의 비슷한 친구
초기화 후 편집 불가 ((immutable))

In [280]:
t1 = ()
t2 = (1,2,3)

In [281]:
type(t1)

tuple

In [282]:
type(t2)

tuple

In [283]:
t2[0]

1

In [285]:
t4 = 1, 2,3, 4

In [292]:
t4

(3, 6, 9)

In [289]:
t4 = 3,6,9

빼빼로데이

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [294]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(pepero))
answer.sort()

answer

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

영단어갯수세기

내가 외운 단어의 개수는 몇개일까요?

입력1
"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

출력1
7

In [301]:
word = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

word.split()

len(set(word.split()))

7

In [304]:
Student1 = [{"name":"Alice"},{"Score1":90},{"Score2":85},{"Score3":92}]
Student2 = [{"name":"Bob"},{"Score1":78},{"Score2":80},{"Score3":88}]
Student3 = [{"name":"Charlie"},{"Score1":95},{"Score2":92},{"Score3":89}]
Students = [Student1, Student2, Student3]

Student1.value()

AttributeError: 'list' object has no attribute 'value'

In [306]:
#dir(__builtins__)

In [ ]:
def 함수이름 (매개변수) :
    수행할 명령

    return 반환 값

함수

In [312]:
def my_func(a):
    print(f" {a}, 내가 만든 함수입니다")

In [314]:
my_func('Hey')
my_func('Hello')
my_func('Hi')

 Hey, 내가 만든 함수입니다
 Hello, 내가 만든 함수입니다
 Hi, 내가 만든 함수입니다

In [315]:
def my_sum(a, b):
    result = a+b
    return result

In [316]:
my_sum(5,8)

13

In [319]:
num1 = my_sum(3,4)
num2 = my_sum(7,5)

print(num1, num2)

7 12

In [334]:
#큰 숫자 반환기

def num_max(a,b,c) :
    if a-b > 0 :
        if a-c>0 :
            return a
        else :
            return c
    else :
        if b-c>0 :
            return b
        else :
            return c


num = num_max(10, -12, 7)
num

10

In [333]:
def max_num (a,b,c):
    max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    return max_val

number = max_num(-3, 5, -1)
number

5

In [339]:
def num_min(arr) :
    answer = arr[0]
    for i in arr:
        if answer > i :
            answer = i
    return answer
    

num_min([52, 273, 32, 103, 275, 24, 57])

24

In [335]:
def num_min(a, b, c, d, e, f, g):
    min_val = a
    if b < min_val :
        min_val = b
    if c < min_val :
        min_val = c
    if d < min_val :
        min_val = d
    if e < min_val :
        min_val = e
    if f < min_val :
        min_val = f
    if g < min_val :
        min_val = g
    return min_val

number = num_min(52, 273, 32, 103, 275, 24, 57)
number

24

In [345]:
def print_even (my_list) :
    num = input("숫자를 입력해주세요")
    num = my_list[0]
for i in my_list:
    if i % 2 == 0 :
        num = i

        return num

SyntaxError: 'return' outside function (1269111911.py, line 8)

In [ ]:
def add (a,b):  # a,b는 매개 변수
    return a+b

print(add(3,4)) # 3,4는 인수

In [356]:
# 여러 개의 입력값을 받는 함수 만들기

def add_many(*args):  #(*args) : 이 안으로 들어오는 입력값 변수들을 다 모아서 튜플로 만들어 줌.
    print(args)
    sum = 0
    for i in args :
        sum += i
    return sum

In [357]:
add_many(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

28

In [374]:

def add_mul(choice, *args):  #(*args) : 이 안으로 들어오는 입력값 변수들을 다 모아서 튜플로 만들어 줌.
    print(choice, args)
    if choice == "add":
        result = 0
        for i in args :
            result += i
        return result
    elif choice == "mul":
        result = 1
        for i in args :
            result *= i
        return result
    else:
        print ("연산자 종류 확인 요망 !!")
        result = None

In [375]:
add_mul('add', 1,2,3,4,5)
add_mul('mul', 1,2,3,4,5)

add (1, 2, 3, 4, 5)
mul (1, 2, 3, 4, 5)

120

In [376]:
def add_and_mul (a,b) :
    return a+b, a*b

In [377]:
add_and_mul (3,6)

(9, 18)