In [ ]:
str1 + str2

In [ ]:
str1 = "Hello"
str2 = "World"

In [ ]:
"Hello" + "World"

In [ ]:
num1 ** num2
#거듭제곱

In [ ]:
num1 // num2
#몫

In [ ]:
num1 % num2
#나머지

In [ ]:
num1 / num2

In [ ]:
num1 * num2

In [ ]:
num1 - num2

In [ ]:
num1 + num2

In [ ]:
num1 = 7
num2 = 3

In [ ]:
mynumber+10

In [ ]:
type(mynumber)

In [ ]:
mynumber = "권순우"

In [ ]:
type(mynumber)

In [ ]:
mynumber = 38.6

In [ ]:
mynumber + 10

In [ ]:
mynumber = 100

In [ ]:
type(100)

In [ ]:
type(True)

In [ ]:
type("100")

In [ ]:
type(3.14)

In [ ]:
Print('hello')
#Name Error 프린트 P 대문자 오류 정의

In [ ]:
print('hello")
      #작은/큰 따옴표 에러 Syntax Error #문법 에러
      #근처에 오류 있다 알려주면서 몇번째 줄인지 알려줌

In [ ]:
print(True)

In [ ]:
36.5 #실수형 데이터 (소수점이 있는 수)(#float)

In [ ]:
123 #정수형 데이터 (#integer)

In [ ]:
print("안녕 이제 파이썬을 시작하려고 해")

In [ ]:
"Hello" #문자열 데이터

In [ ]:
'123' #문자열 데이터

In [ ]:
True, False #(네, 아니오 - 논리 값 / 참, 거짓 -> 논리 데이터) #boolean

In [ ]:
num1 + str1

In [ ]:
mynumber = 100

In [ ]:
#같다, 다르다, 크다, 작다

In [ ]:
# = 하나는 대입 연산자, 데이터가 같냐고 물어보기 위해서는 ==
# 같다 ==, 다르다 !=, 크다 >, 작다 <, 크거나같다 작거나 같다 >=, <=

In [ ]:
5 == 3
# 5랑 3은 같니

In [ ]:
5 != 3
# 5랑 3은 다르니

In [ ]:
5 >= 3
# 5는 3보다 크거나 같니

In [ ]:
str1 + str2

In [ ]:
print(str1+str2)

In [ ]:
print(str1+" "+str2)

In [ ]:
print(str1,str2)
# +와 다르게 문자열을 콤마(,)로 묶으면 한칸 자동으로 띄워서 붙여줌

In [ ]:
print(str1, str2, str1, str1, str1)

In [ ]:
input()

In [ ]:
input()

In [ ]:
name = input()
print ("이름은", name, "입니다")

In [ ]:
name = input("이름을 입력하세요: ")
print ("이름은", name, "입니다")

In [ ]:
num1 = 7
num2 = 3

In [ ]:
#미션

In [ ]:
#미션
#사용자로부터 숫자 입력을 받아서 +, -, *, / 연산 결과를 출력해주세요

In [ ]:
num1 = input("첫 번째 숫자를 입력해주세요:")

In [ ]:
num1 = input("첫 번째 숫자를 입력해주세요:")
num2 = input("두 번째 숫자를 입력해주세요:")
print("두 숫자의 합은"+(num1+num2)+"입니다")

In [ ]:
num1 = input("첫 번째 숫자를 입력해주세요:")
num2 = input("두 번째 숫자를 입력해주세요:")
print("두 숫자의 합은",num1+num2,"입니다")

In [ ]:
int(num1) == input("첫 번째 숫자를 입력해주세요:")
int(num2) == input("두 번째 숫자를 입력해주세요:")
print("두 숫자의 합은",num1+num2,"입니다")

In [ ]:
num1 = input("첫 번째 숫자를 입력해주세요:")
num2 = input("두 번째 숫자를 입력해주세요:")
print("두 숫자의 합은",num1+num2,"입니다")

In [ ]:
num1 = input("첫 번째 숫자를 입력해주세요:")
num2 = input("두 번째 숫자를 입력해주세요:")

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

In [ ]:
type(num1)
#이럴 때, 형 변형이 필요하다

In [ ]:
num1 = int(input("첫 번째 숫자를 입력해주세요:"))
num2 = int(input("두 번째 숫자를 입력해주세요:"))

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

In [ ]:
# f-string
num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1+num2) #f-string 안쓴 것
print(f"{num1} + {num2} = {num1+num2}") #f-string 쓴 것
#" "안에서 하고 싶은 말 자연스럽게 표현할 수 있음

In [ ]:
sentense = """

In [ ]:
sentense = """
안녕
반가워
추워

In [ ]:
sentense = """
안녕
반가워
추워
"""

In [ ]:
print(sentense)

In [ ]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다")

In [ ]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

In [ ]:
a = float(input("첫 번째 값 입력: "))
b = float(input("두 번째 값 입력: "))

print(f'{a:.2f}*{b:3f} = {a*b:,.2f}')

In [ ]:
print ("Hello","Hello","Hello","Hello","Hello",sep=' ', end =' ')

In [ ]:
print(type(True))

In [ ]:
int(), str(), float(), bool()

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
bool(100)

In [ ]:
bool(-1)

In [ ]:
# bool은 0만 False, 나머지는 다 True(1, -1, 100, -100 다)

In [ ]:
bool('')

In [ ]:
bool('python')

In [ ]:
# bool 안에 문자가 아예 없으면 False, 문자가 뭐라도 있으면 True

In [ ]:
kb_price = 3000
tbk_price =3500
rm_price = 2500

kb_order = int(input(print("김밥 주문 갯수를 입력해주세요")))
tbk_order = int(input(print("떡볶이 주문 갯수를 입력해주세요")))
rm_order =  int(input(print("라면 주문 갯수를 입력해주세요")))

kb_total = kb_price * kb_order
tbk_total = tbk_price * tbk_order
rm_total = rm_price * rm_order

total = kb_total+tbk_total+rm_total
print("주문하신 라면은",rm_order,"개", "주문하신 떡볶이는",tbk_order,"개,", "주문하신 김밥은",kb_order,"개 입니다.")
print("지불하실 금액은",total,"원 입니다.")

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("아 졸려")
print("Hello")
#불필요하게 너무 많이 반복되는 경우가 발생함
#이런 것을 해결하기 위해 선택구조, 반복구조 처리 방법을 배움

#조건문

In [ ]:
# 조건에 따라서 명령어의 실행여부가 결정됨

if 조건:
    실행할 명령어

조건문 밖의 명령어

In [ ]:
money = True

if money:
    print("스테이크를 먹는다")

print('조건문 종료')

In [ ]:
money = False

if money:
    print("스테이크를 먹는다")

print('조건문 종료')

In [ ]:
money = True

if money:
    print("스테이크를 먹는다")
    print('커피를 마신다')
    print('택시도 탄다')

print('조건문 종료')

In [ ]:
money = True

if money:
    print("스테이크를 먹는다")
    print('커피를 마신다')
print('택시도 탄다')

print('조건문 종료')

In [ ]:
if 조건 :
    수행할 명령
else:
    다른명령

In [ ]:
# 짝수 홀수 구분

#  num % 2 == 0 짝수  / 그렇지 않으면 홀수

num = 3

if num %2 == 0 :
    print("짝수")
else:
    print("홀수")

In [ ]:
num = 10

if num > 100 :
    print ("너무 커요")
else:
    print ("작아요")

In [ ]:
# and, or 연산자 함께 활용 가능

eng = 80
math = 100

if eng >= 90 and math >= 90:
    print ("스티커")
else:
    print ("좀 더 노력하세요")

In [ ]:
#중첩 조건문

eng = 80
math = 100

if eng >= 90 :
    if math >= 90 :
        print ("둘 다 성공")
    else:
        print ("좀 더 노력")
else:
    print ("많이 노력")

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num%2 ==0 :
    print("짝수입니다")
else :
    print("홀수입니다")

In [ ]:
score = int(input("점수를 입력하세요"))
print("입력하신 점수는",score,"점 입니다")

if score >= 90 :
    print ("A")
elif score >= 80 :
    print ("B")
elif score >= 70 :
    print ("C")
elif score >= 60 :
    print ("D")
else :
    print("F")

In [ ]:
for 변수 in 이터러블(반복 가능한 객체_바구니):
    반복할 문장

In [ ]:
for i in range(10):
    print("Hello")

In [ ]:
for i in range(1,10+1):
    print(f"{i}번째 Hello")

#start는 괄호 첫 번째 숫자/ 엔드는 뒷 숫자 -1

In [ ]:
for i in range (1, 10+1, 2):   #(start, end, step)
    print(f"{i}번째 Hello")

In [ ]:
for i in range (10, 0, -1):   #(start, end, 증가값 step)
    print(f"{i}번째 Hello")

In [ ]:
# for 반복문과 range()함수를 사용해서 1부터 10까지의 합을 출력해주세요.

num = 0
for i in range(1, 11):
    num = num + i
print (num)

In [ ]:
# for 반복문과 range()함수를 사용해서 1부터 10까지의 곱을 출력해주세요.

num = 1      #곱은 1부터 시작
for i in range(1, 11):
    num = num * i
print (num)

In [ ]:
# for 반복문과 range()함수를 사용해서 사용자로부터 입력받은 숫자에 해당하는 구구단을 출력해주세요.
num1 = int(input("숫자를 입력해주세요:"))
 
for i in range(1,10):
 num2 = num1 * i
 print(f"{num1} X {i} = {num2}")

In [ ]:
num = 0
for i in range(1, 11):
    num = num + i
print (num)

In [ ]:
i = 1
while i <= 5 :
    print (f"{i}번째 Hello")
    i =i + 1

In [ ]:
#while 문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 합을 구해주세요.

num = int(input(print("숫자를 입력해주세요: ")))

sum=0
i = 1
while i <= num :
    sum = sum + i
    i = i + 1  # i 값을 늘려주면서 멈출 타이밍 재야

print(sum)

In [ ]:

sum = 0
for i in range(1, 10 +1):
    sum += i #(sum = sum + i 와 동일하다)
print(sum)

In [ ]:
multi = 1
i = 1
while i < 10:
    multi = multi*i
    i = i + 1
print (multi)

In [ ]:
#while 로 1~9까지 곱 안되는디,,

multi = 1
while i < 10 :
    multi = multi + 1
    i = i + 1
print(multi)

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter nuber : """

In [7]:
number = 0

while True:
    print(prompt)
    numer = int(input("원하는 메뉴의 번호를 입력하세요:"))
    if number == 4 :
        break

NameError: name 'prompt' is not defined

## Break, Continue

In [ ]:
# 1부터 10까지 더하되, 합이 20 이상이 되는 때의 정수 값을 찾고 싶어.


sum = 0
for i in range(1, 11):
    sum = sum + i
    if sum >= 20:
        print (f"정수 : {i}, 합계 : {sum}")
        break #반복문 탈출어
print(sum)

정수 : 6, 합계 : 21
21

In [ ]:
#3의 배수가 아닌 경우만 프린트해줘
for i in range(10):
    if i % 3 == 0 :
        continue #반복문의 흐름을 깨지 않으면서, 아래로 가지 않고 그대로 위로 다시 오도록 걷어올리는
    print (i, end = "")

124578

In [5]:
#3의 배수가 아닌 경우만 프린트해줘 / continue를 안 쓴 경우
for i in range(10):
    print (i, end = "")

0123456789

In [2]:
#숫자 랜덤 게임

import random
answer = random.randint(1,100) #1이상 100이하 수 중 난수를 만들어서 랜덤하게 answer 변수에 넣어줌
print(answer) 

while True:
    guess = int(input("1부터 100 사이의 숫자를 맞춰 주세요. : "))
    if guess == answer :
        print ("정답입니다")
        break
    elif guess > answer :
        print ("너무 커요")
    else:
        print ("너무 작아요")

print ("게임 종료")

96
정답입니다
게임 종료

In [ ]:
# 혼자 추가 학습
# 몇 번만에 맞췄는지 멘트 추가
# N 번 안에 못맞추면 폭탄이 터져서 게임이 끝나는 기능
# 범위 아닌거 입력하면 1~100 사이 숫자만 입력해달라고 다시 하는 기능

In [37]:
# 20보다 작은 정수 중에서 3의 배수와 5의 배수를 제외하고 출력해 봅시다.

for i in range(20):
    if i % 3 == 0 :
        continue
    elif i % 5 == 0 :
        continue
    elif i == 21 :
        break
    print (i," ",end = "")

1  2  4  7  8  11  13  14  16  17  19

In [ ]:
# 다른 수강생 답안
i=0
while i < 20 :
    i = i + 1
    if i % 3 == 0 :
        continue
    elif i % 5 == 0 :
        continue
    elif i > 20 :
        break
    else :
        print (i)

1
2
4
7
8
11
13
14
16
17
19

In [ ]:
i = 0 
while True :
    i = i + 1
    if i > 20 :
        #print(f"{i} break")
        break
    if i % 3 == 0 or i % 5 == 0 :
        #print(f"{i} continue")
        continue
    print (i, end = " ")

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
# 중첩반복문 : 2단부터

multi = int(input("단수를 입력해주세요"))

for i in range (1, 10):
    print(f"{multi} * {i} = {multi * i}")

In [9]:
for multi in range (2, 9):
    print (f"{multi} 단 구구단")
    for i in range (1, 10):
        print(f"{multi} * {i} = {multi * i}")

2 단 구구단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단 구구단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단 구구단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단 구구단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단 구구단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단 구구단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단 구구단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [20]:
for multi in range (1, 10):
    print (" ")
    for i in range (1, 10):
        print(multi*i, end = " ")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [28]:
i = 0
for i in range (0, 15):
    i = i + 1
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [38]:
i = 0
for i in range (0, 15):
    i = i + 1
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************